<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.joanmaba.tfgupdate</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/joanmasatsbas/Dropbox/UOC/TFG/Idea 1/auto_git_update.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>StandardOutPath</key>
    <string>/Users/joanmasatsbas/Dropbox/UOC/TFG/Idea 1/git_update.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/joanmasatsbas/Dropbox/UOC/TFG/Idea 1/git_update_error.log</string>
</dict>
</plist> 